<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <!--EL表达式是否忽略：true为忽略，false为不忽略-->
        <el-ignored>false</el-ignored>
        <!--在拦截到的所有jsp页面映入该页面-->
        <include-prelude>/taglib.jsp</include-prelude>
    </jsp-property-group>
</jsp-config>
</web-app>